{% extends "core/base.html" %} {% block main %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Services</h1>
  <div class="row text-white text-center">
    <div class="col-sm-4">
      <i class="fa fa-search-dollar fa-2x mb-3 i-color"></i>
      <h3>SEO</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-palette fa-2x mb-3 i-color"></i>
      <h3>Web Design</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-code fa-2x mb-3 i-color"></i>
      <h3>Web Development</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
  </div>

  <div class="row text-white text-center">
    <div class="col-sm-4">
      <i class="fab fa-android fa-2x mb-3 i-color"></i>
      <h3>Android Development</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fab fa-apple fa-2x mb-3 i-color"></i>
      <h3>IOS</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-add fa-2x mb-3 i-color"></i>
      <h3>Advertisement</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
  </div>

  <div class="row text-white text-center">
    <div class="col-sm-4">
      <i class="fa fa-pencil fa-2x mb-3 i-color"></i>
      <h3>LOGO Design</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-database fa-2x mb-3 i-color"></i>
      <h3>Hosting</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-headset fa-2x mb-3 i-color"></i>
      <h3>Support</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero velit,
        beatae molestias exercitationem praesentium et dolore aut voluptatibus
        in dignissimos tempora. Quas tempora numquam voluptas, maxime suscipit
        ad quia!
      </p>
    </div>
  </div>
</div>

{% endblock main %}
